<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}"/>
    <title>Medium Scraping</title>
</head>
<body>
    <div class="container min-vh-100 py-2 d-flex flex-column justify-content-center align-items-center text-primary">
        <h1>Medium Scraping</h1>
        <form method="get" class="mt-3 w-75">
            <div class="form-group">
                <label for="url" class="text-light">Medium Post URL</label>
                <input
                    type="text"
                    id="url"
                    name="url"
                    class="form-control form-control-lg"
                    placeholder="Paste the URL here"/>
            </div>
            {% if error %}
            <div class="alert bg-danger text-white" role="alert">
                {{ error }}
            </div>
            {% endif %}
            <button type="submit" class="btn btn-lg btn-block btn-primary mt-2">Scrap!</button>
        </form>
    </div>
</body>
</html>